<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{::main}, _, _)}">

<head>
    <title>List of daily</title>
</head>

<body>
    <main>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of daily</div>
                        <div class="card-tools">
                            <form method="GET" class="form-inline">
                                <label for="client" class="sr-only">Client name</label>
                                <input type="text" name="client" class="form-control mb-2 mr-sm-2"
                                    placeholder="Search by client"
                                    th:value="${param.client != null ? param.client : ''}">

                                <label for="status" class="sr-only">Status</label>
                                <select name="status" class="form-control mb-2 mr-sm-2">
                                    <option value="">All</option>
                                    <option value="WITHOUT_PAYMENT,PAID,CONFIRMED"
                                        th:selected="${#strings.equals(param.status, 'WITHOUT_PAYMENT,PAID,CONFIRMED') ? 'true' : 'false'}">
                                        Pending
                                    </option>
                                    <option value="CANCELLED"
                                        th:selected="${#strings.equals(param.status, 'CANCELLED') ? 'true' : 'false'}">
                                        Canceled
                                    </option>
                                    <option value="COMPLETED,REVIEWED,TRANSFERRED"
                                        th:selected="${#strings.equals(param.status, 'COMPLETED,REVIEWED,TRANSFERRED') ? 'true' : 'false'}">
                                        Completed
                                    </option>
                                </select>

                                <button type="submit" class="btn btn-primary mb-2">Filter</button>
                                <a th:href="@{/admin/daily}" class="btn btn-default mb-2 ml-2">Clear</a>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Status</th>
                                    <th>Client Name</th>
                                    <th>Cleaner Name</th>
                                    <th>Pix Key</th>
                                    <th>Date Attended</th>
                                    <th>Price</th>
                                    <th>Commission</th>
                                    <th>Transfer</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="d : ${daily}">
                                    <td th:text="${d.id}"></td>
                                    <td th:text="${d.status.description}"></td>
                                    <td th:text="${d.client.fullName}"></td>
                                    <td th:text="${d.cleaner != null ? d.cleaner.fullName : ''}"></td>
                                    <td th:text="${d.cleaner != null ? d.cleaner.pixKey : ''}"></td>
                                    <td th:text="${#temporals.format(d.attendanceDate, 'dd/MM/yyyy hh:mm')}"></td>
                                    <td th:text="${#numbers.formatCurrency(d.price)}"></td>
                                    <td th:text="${#numbers.formatCurrency(d.commissionValue)}"></td>
                                    <td th:text="${#numbers.formatCurrency(d.price - d.commissionValue)}"></td>
                                    <td>
                                        <a th:if="${#arrays.contains({'COMPLETED', 'REVIEWED'}, d.status.name)}"
                                            th:href="@{/admin/daily/{id}/pay (id=${d.id})}" class="btn btn-primary">
                                            Mark as transferred
                                        </a>
                                        <a th:unless="${#arrays.contains({'COMPLETED', 'REVIEWED'}, d.status.name)}"
                                            class="btn btn-danger disabled">
                                            Unavailable
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>