# Datasource
spring.datasource.url=jdbc:mysql://localhost:3306/express_cleaning
spring.datasource.username=<database username>
spring.datasource.password=<database password>

# Hibernate e JPA
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true

spring.flyway.locations=classpath:db/migration/mysql

# Thymeleaf
spring.thymeleaf.cache=false

# Remember Me
rememberMe.key=<key to generate remember me tokens>
rememberMe.validitySeconds=<remember me token duration in seconds>

# Tokens
access.key=<access token generation key>
access.expiration=<access token lifetime in seconds>
refresh.key=<refresh token generation key>
refresh.expiration=<token refresh time in seconds>

# Email
spring.mail.host=<SMTP server host>
spring.mail.port=<SMTP server port>
spring.mail.username=<SMTP server username>
spring.mail.password=<SMTP server password>
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
backend.host=http://localhost:8080

# Google
googleMatrix.apiKey=<Google Matrix API key>