      <form action="/products" method="POST" data-turbo="false">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
              <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900">Product</h3>
                <p class="mt-1 text-sm text-gray-500"></p>
              </div>
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input type="text" name="product[name]" id="name" class="block w-full flex-1 rounded border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
              </div>
            </div>

            <div>
              <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
              <div class="mt-1">
                <textarea id="product[description]" name="description" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">Brief description for your product.</p>
            </div>


                        <div>
              <label class="block text-sm font-medium text-gray-700">Photo</label>
              <div class="mt-1 items-center">
                <input data-direct-upload-url="<%= rails_direct_uploads_url %>" name="product[photo]" type="file" class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              </div>
            </div>

            <div class="hidden sm:block" aria-hidden="true">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>

    <div class="pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Default Price</h3>
        <p class="mt-1 text-sm text-gray-500">Set a default price.</p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="currency" class="block text-sm font-medium text-gray-700">Currency</label>
          <div class="mt-1">
            <input type="text" value="usd" name="default_price_data[currency]" id="currency" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
          <div class="mt-1">
            <input type="number" step="0.01" name="default_price_data[amount]" id="amount" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>
      </div>
    </div>

    <div data-controller="product-form" class="pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Alternative Prices</h3>
        <p class="mt-1 text-sm text-gray-500">
          Select from the list of supported currencies
          <a href="https://stripe.com/docs/currencies#presentment-currencies"
             class="underline"
            target="_blank">stripe.com/docs/currencies</a>
        </p>
      </div>


            <button data-action="product-form#addPrice" type="button" class="mt-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Add price</button>

      <div data-product-form-target="prices"></div>

      <template data-product-form-target="template">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="currency" class="block text-sm font-medium text-gray-700">Currency</label>
            <div class="mt-1">
              <input type="text" name="currency_options[][currency]" id="currency" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
            <div class="mt-1">
              <input type="number" step="0.01" name="currency_options[][amount]" id="amount" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
        </div>
      </template>
    </div>

  </div>


          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Create</button>
          </div>
        </div>
        </div>
      </form>